body{

	background-color:#fff;
}
.navigation{
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background-color: #FFF;
	display: flex;
	flex-wrap: wrap;
	z-index: 1000;
        border: 3px skyblue;
        background-color:#f5ebda;
        padding-left:50px;
}

.navigation ul{
	display: flex;
	flex-wrap: wrap;
	padding-left: 85px;
}
.navigation ul li{
	list-style: none;
	line-height: 60px;
}
.navigation ul li a{
	display: block;
        text-decoration:none;
        font-style:14px;
        font-family:areal;
	height: 100%;
	padding: 0 20px;
}

.c1
 {
 	
        background-color: #020326;
 	padding:60px;
        text-align:center;

 }

